{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        {% include('@WebProfiler/Icon/http-client.svg') %}
{#        {% include('@Storyblok/collector/storyblok-icon.svg') %}#}
        <span class="sf-toolbar-value">Storyblok</span>
    {% endset %}


    {% set text %}
        <style>
            .sf-toolbar-storyblok-log span {
                width: 430px;
                display: block;
                word-break: break-word;
                white-space: break-spaces;
            }

            .sf-toolbar-block .sf-toolbar-storyblok-log .sf-toolbar-status {
                text-align: left;
            }
        </style>

        {# @var log Efrogg\Bundle\StoryblokBundle\Log\LogEntry #}
        {% set status_color='' %}
        {% for log in collector.logs %}
            <div class="sf-toolbar-info-piece sf-toolbar-storyblok-log">
                <b>{{ log.level }}</b>
                {% set level_color='' %}
                {% if log.level == 'error' %}
                    {% set level_color = 'red' %}
                    {% set status_color = 'red' %}
                {% endif %}
                <span class="sf-toolbar-status {{ level_color?'sf-toolbar-status-'~level_color:'' }}">{{ log.message }}</span>
                {# {% if log.context is not empty %} #}
                {# {{ dump(log.context) }} #}
                {# {% endif %} #}
            </div>
        {% endfor %}
    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true, status: status_color }) }}
    {# {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true}) }} #}

{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
{#            {% include('@Storyblok/collector/storyblok-icon.svg') %}#}
            {% include('@WebProfiler/Icon/http-client.svg') %}
        </span>
        <strong>Storyblok</strong>
    </span>

{% endblock %}

{% block panel %}
    <h2>Storyblok logs</h2>
    <table>
        <tr>
            <th><b>level</b></th>
            <th>message</th>
            <th>context</th>
        </tr>

        {% for log in collector.logs %}
            <tr>
                <td>{{ log.level }}</td>
                <td>{{ log.message }}</td>
                <td>
                    <pre>{{ log.context|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

